header { 
    color: #b90d77;
    text-align: center; 
    font-size: xx-large;
    font-family: Georgia, Times, serif;
    font-weight: bold;
    background: #dde976;
}

body {
    background-color: #f3b748;
    text-align: center;
    font-size: x-large;
    vertical-align: middle;
    padding: 14px 16px; 
}

a {
    padding: 14px 16px;
    vertical-align: middle;
}
