<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Personality Quiz</title>
        <link rel='stylesheet' href='/static/styles.css' /> 
    </head>
    <body>
        <header>Favorite Food Based On Outfit</header>
        <p> Some Clothes are more flavorful that others. You choose an outfit, we will guess your favorite flavor.</p>
        <br>
        <form method="post" id="form0" action="{{url_for('quizpg1')}}">
        <a href="/quizpg1"><p style="text-align:center">Take Quiz</p></a></form>

    </body>
</html>