<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8
        ">
        <title>Take the Quiz!</title>
        <style>
            input[type=radio] {
              display: none;
            }
            
            input:checked + label img {
              border:2px solid #00f;
            }
            
            </style>
    </head>
    <body>
     
<form id="form1">

    <input name="image-pick" value="1" type="radio" id="one">
    <label for="one">
      <img src="cat1.jpg">
    </label>


    <input name="image-pick" value="2" type="radio" id="two">
    <label for="two">
      <img src="cat2.jpg">
    </label>

    <input name="image-pick" value="3" type="radio" id="three">
    <label for="three">
      <img src="cat3.jpg">
    </label>

    <input name="image-pick" value="4"  type="radio" id="four">
    <label for="four">
      <img src="cat4.jpg">
    </label>

</form>
<h2 id="selected"></h2>


<script>
document.getElementById("form1").onchange = function() {
result = document.querySelector('input[name = "image-pick"]:checked').value;
document.getElementById("selected").innerHTML = "Cat: " + result;
}

</script>
    </body>
</html>